@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Gowun+Batang:wght@700&family=Lobster&family=Nanum+Gothic:wght@400;700&family=Nerko+One&family=Noto+Sans+KR:wght@400;500;700&family=Raleway&display=swap');

* {
    font-family: 'Noto Sans KR', sans-serif;
}
a {
  cursor : pointer;
  text-decoration : none;
  color : #000;
}
@font-face {
    font-family: 'LushKR Handwritten OTF';
    src:url('../fonts/LUSHKR_Medium.otf');
} 
@font-face {
    font-family: 'Lush';
    src:url('../fonts/Lush.ttf');
} 

/* 가리기 */
.hidden {display: none;}


/* 헤더 영역 시작 */


#m_header {display: none;}
#pc_header {
  position : relative;
  left : 0;
  top : 0;
  width : 100%;
  z-index: 1;
  background-color: #000;
}

/* 헤더 안쪽 상자 */
#pc_header > #header_wrap {
  width: 100%;
  max-width: 1260px;
  height : 100px;
  margin : 0 auto;
  display : flex;
  justify-content : space-between;
}


/* 헤더 로고 */
#header_wrap > #logo {
  margin-right : 0;
}

.preview {
    text-decoration: underline;
}
/* 헤더 로고의 a 태그 */
#header_wrap > #logo > a {
  line-height : 100px;
  font-size : 40px;
  color : #fff;
}

/* 헤더 로고 img */
#header_wrap > #logo > a > img {
  width: 210px;
}

/* 1단 gnb 서식 */
#header_wrap > #gnb {
  position: relative;
  padding-right: 0;
  display : flex;
  gap: 50px;
  margin-left: -120px;
}

.sns ul {
    display: flex;
    justify-content: center;
}

/* 1단 gnb의 직계 li들 */
#header_wrap > #gnb > li {
}

.sns ul li {
    margin: 0px 20px;
}

/* 1단 gnb의 직계 li들의 a태그 */
#header_wrap > #gnb > li > a {
  display : inline-block;
  line-height : 100px;
  color : #fff;
  font-weight: bold;
  font-size: 24px;
}

/* gnb 백그라운드 */
.gnb_bg{
  position : fixed;
  width : 100%;
  height : 40px;
  background-color : rgba(0,0,0,.4);
  left : 0;
  top : 100px;
  z-index : -1;
  display : none;
}

.gnb2 {
  position : absolute;
  bottom: -40px;
  display : none;
}
#gnb > li:hover > .gnb2 {
  display: flex;
  gap: 30px;
}

#gnb2_1 > li > a,
#gnb2_2 > li > a,
#gnb2_3 > li > a {
  color : #fff;
  display : inline-block;
  padding : 12px 0;
}

.gnb a {
  color : #fff !important;
}

dl dt, dl dd {
    line-height: 20px;
  }
#header_wrap > #gnb > li:hover > a,
#gnb > li .gnb2 > li:hover a
{
  color : #ccc;
}


#gnb > li:first-child:hover .gnb_bg,
#gnb > li:nth-child(3):hover .gnb_bg,
#gnb > li:nth-child(4):hover .gnb_bg {
  display : block;
  left: 0;
}






/* 아이콘 감싸는 박스 서식 */
.icon_wrap {
  width : 150px;
  display : flex;
  justify-content : space-between;
  align-items : center;
}

#sub_email::placeholder {
    font-size: 16px;
    color: #ccc;
  }



/* 아이콘들 서식 */
.icon_wrap > a > i {
  color : #fff;
  font-size : 24px;
}

/* 푸터 영역 서식 */
footer{
  background:#000;
  margin-top:160px;
  color:#fff;
  width: 100%;
  height: 500px;
}

footer a {
  text-decoration: none;
  color: #fff;
}
.ethical{
  width:100%;
  background:#f2f2f2;
  text-align: center;
  padding:15px 0px;
  display:flex;
  justify-content: center;
}
.ethical > ul {
  width:1260px;
  margin:0px auto;
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.ethical > ul > li img{width:136px;}


.t_btn{
  background:#222 url(../images/common/ico_footer_top.svg) no-repeat center center;
  background-repeat:no-repeat;
  width:56px;height:56px;
  box-shadow:0px 4px 4px rgb(0,0,0,.25);
  position:fixed;
  right:10px;
  bottom:50px;
  font-size:0px;
  text-indent: -9999px;
  border-radius:50%;
  display:none;
  color: #fff;
}
.f_wrap{
  padding:50px 0px;
  display:grid;
  grid-template-areas:
  "subscribe sns"
  "lnb lnb"
  "infol infor";
  max-width: 1260px;
  margin: 0px auto;
  width: 100%;
}


.subscribe{
  grid-area: subscribe;
  height: 90px;
  position: relative;
}

.subscribe p {
  font-size: 14px;
  line-height: 17px;
}

.corp_gift {
  margin-left: 150px;
}

.cs_service, .corp_gift {
  float: left;
}


dt {
  font-weight: bold;
}

.cs_service::after, .corp_gift::after {
  clear: both;
}

.f_info_l{
  grid-area: infol;
  height: 50px;
}


.f_lnb{
  margin: 25px 0px;
  grid-area: lnb;
}


.f_info_r{
  grid-area: infor;
  height: 70px;
}



.f_lnb > ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#sub_email {
  width: 392px;
  height: 30px;
  margin-bottom: 10px;
  background-color: #333;
  border: none;
}

.subs_btn {
  color: #fff;
  background-color: #333;
  width: 40px;
  transform: translate(-5px, -2px);    font-size: 14px;
  height: 30px;
  position: absolute;
  left: 395px;
  top:2px;
  border: none;
  text-indent: 0px;
}

address {
  font-style: normal;
  line-height: 20px;
  padding-left: 20px;
  margin-left: 100px;
}

.sns{
  grid-area: sns;
  width: 630px;
  text-align: center;
}

.sns ul li {
  margin: 0px 20px;
}

.sns ul li:first-child img {
  width: 40px;
  height: 40px;
}

/* 미디어 스크린 태블릿 */
@media screen and (max-width:1024px) and (min-width:767px) {
  
  /* 헤더 교체 */
  #pc_header {display: none;}
  #m_header {display: block;}

  /* 푸터 회색 띠 */
  .ethical{
    display:none;
  }
  footer{
    background:#000;
    margin-top:160px;
    color:#fff;
    width: 100%;
    height: auto;
    font-size: 1em;
  }
  
  a {
    text-decoration: none;
    color: #fff;
  }
  .ethical{
    display: none;
  }
  

  .f_wrap{
    padding:50px 0px;
    display:grid;
    grid-template-areas:
    "subscribe sns"
    "lnb lnb"
    "infol infor";
    width: 100%;
  }
  
  
  .subscribe{
    grid-area: subscribe;
    position: relative;
  }
  

  .cs_service, .corp_gift {
    float: left;
  }
  
  .cs_service::after, .corp_gift::after {
    clear: both;
  }

  .corp_gift {
    margin-left: 50px;
  }
  
  dt {
    font-weight: bold;
  }
  
  .f_info_l{
    grid-area: infol;
    display: flex;
    width: 50%;

  }
  
  
  .f_lnb{
    margin: 25px 0px;
    grid-area: lnb;
  }
  
  
  .f_info_r{
    grid-area: infor;
    height: 70px;
    width: 50%;
  }
  
  
  
  .f_lnb > ul {
    display: flex;
    justify-content: space-between;
  }
  
  #sub_email {
    width: 350px;
    height: 30px;
    margin-bottom: 10px;
    background-color: #333;
    border: none;
  }
  
  
  address {
    font-style: normal;
    margin: 0px auto;
  }
  
  .sns{
    grid-area: sns;
  }

  .sns ul li {
    margin: 0px 20px;
  }
  
  .sns ul li:first-child img {
    width: 40px;
    height: 40px;
  }

.f_lnfo_l, .f_lnfo_r, .sns, .subscribe {
  width: auto;
}


.subs_btn {
  color: #fff;
  background-color: #333;
  width: 40px;
  text-indent: 0px;
  font-size: 0.8em;
  height: 30px;
  border: none;
  position: absolute;
  left: 350px;
}


}

/* 미디어 스크린 모바일 */
@media screen and (max-width:768px) and (min-width:1px) {

  /* 헤더 교체 */
  #pc_header {display: none;}
  #m_header {display: block;}

  /* 푸터 회색 띠 */
  .ethical{
    display:none;
  }
  footer{
    background:#000;
    margin-top:160px;
    color:#fff;
    width: 100%;
    height: auto;
  }
  
  a {
    text-decoration: none;
    color: #fff;
  }
  .ethical{
    display: none;
  }  
  
  .t_btn{
    background:#222 url(../images/common/ico_footer_top.svg) no-repeat center center;
    background-repeat:no-repeat;
    width:56px;height:56px;
    box-shadow:0px 4px 4px rgb(0,0,0,.25);
    position:fixed;
    right:10px;
    bottom:50px;
    font-size:0px;
    text-indent: -9999px;
    border-radius:50%;
    display:none;
    color: #fff;
  }

  .f_wrap{
    width: 100%;
    padding-left: 25px;
    display: block;
  }
  
  
  .subscribe{
    width: 100%;
    height: 90px;
    position: relative;
  }
  
  .subscribe p {
    font-size: 0.9em;
    line-height: 1.1em;
  }
  
  .corp_gift {
    margin-left: 0px;
  }
  
  .corp_gift, .cs_service {
    width: 50%;
    margin-bottom: 30px;
  }
  
  dt {
    font-weight: bold;
  }
  
  .f_lnb{
    margin: 25px 0px;
  }
  
  
  .f_info_r{
    height: 70px;
  }
  
  
  
  .f_lnb > ul {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }

  .f_lnb > ul li {
    margin-right: 40px;
    padding: 10px 0px;
  }

  .f_lnb > ul li {

  }
  
  #sub_email {
    width: 405px;
    height: 30px;
    margin-bottom: 10px;
    background-color: #333;
    border: none;
  }

  .subs_btn {
    transform: translate(-5px, -2px);    font-size: 0.9em;
    height: 30px;
    left: 405px;

  }
  
  address {
    font-style: normal;
    line-height: 20px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 0.9em;
  }
  
  .sns{
    margin: 20px 0px;
    width: 100%;
    text-align: center;
  }
  
  .sns ul li {
    margin: 0px 20px;
  }
  


}