@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Gowun+Batang:wght@700&family=Lobster&family=Nanum+Gothic:wght@400;700&family=Nerko+One&family=Noto+Sans+KR:wght@400;500;700&family=Raleway&display=swap');

* {
    font-family: 'Noto Sans KR', sans-serif;
}
a {
  cursor : pointer;
  text-decoration : none;
  color : #000;
}


@font-face {
    font-family: 'LushKR Handwritten OTF';
    src:url('../fonts/LUSHKR_Medium.otf');
} 
@font-face {
    font-family: 'Lush';
    src:url('../fonts/Lush.ttf');
} 

/* 가리기 */
.hidden {display: none;}

body {overflow-x: hidden;}
/* 헤더 영역 시작 */


#m_header {display: none;}
#pc_header {
  position : fixed;
  left : 0;
  top : 0;
  width : 100%;
  z-index: 1;
  background-color: #000;
}
header::before{
  display:block;
  content:'';
  padding-top:100px;
}

/* 헤더 안쪽 상자 */
#pc_header > #header_wrap {
  width: 100%;
  max-width: 1260px;
  height : 100px;
  margin : 0 auto;
  display : flex;
  justify-content : space-between;
}


/* 헤더 로고 */
#header_wrap > #logo {
  margin-right : 0;
}

.preview {
    text-decoration: underline;
}
/* 헤더 로고의 a 태그 */
#header_wrap > #logo > a {
  line-height : 100px;
  font-size : 40px;
  color : #fff;
}

/* 헤더 로고 img */
#header_wrap > #logo > a > img {
  width: 210px;
}

/* 1단 gnb 서식 */
#header_wrap > #gnb {
  position: relative;
  padding-right: 0;
  display : flex;
  gap: 50px;
  margin-left: -180px;
}

.sns ul {
    display: flex;
    justify-content: center;
}

/* 1단 gnb의 직계 li들 */
#header_wrap > #gnb > li {
}

.sns ul li {
    margin: 0px 20px;
}

/* 1단 gnb의 직계 li들의 a태그 */
#header_wrap > #gnb > li > a {
  display : inline-block;
  line-height : 100px;
  color : #fff;
  font-weight: bold;
  font-size: 16px;
}

/* gnb 백그라운드 */
.gnb_bg{
  position : fixed;
  width : 100%;
  height : 40px;
  background-color : rgba(0,0,0,.4);
  left : 0;
  top : 100px;
  z-index : -1;
  display : none;
}

.gnb2 {
  position : absolute;
  bottom: -40px;
  display : none;
  white-space: nowrap;
}
#gnb > li:hover > .gnb2 {
  display: flex;
  gap: 30px;
}

#gnb2_1 > li > a,
#gnb2_2 > li > a,
#gnb2_3 > li > a {
  color : #fff;
  display : inline-block;
  padding : 12px 0;
}

.gnb a {
  color : #fff !important;
}

dl dt, dl dd {
    line-height: 20px;
  }
#header_wrap > #gnb > li:hover > a,
#gnb > li .gnb2 > li:hover a
{
  color : #ccc;
}


#gnb > li:first-child:hover .gnb_bg,
#gnb > li:nth-child(3):hover .gnb_bg,
#gnb > li:nth-child(4):hover .gnb_bg {
  display : block;
  left: 0;
}






/* 아이콘 감싸는 박스 서식 */
.icon_wrap {
  width : 150px;
  display : flex;
  justify-content : space-between;
  align-items : center;
}

#sub_email::placeholder {
    font-size: 16px;
    color: #ccc;
  }



/* 아이콘들 서식 */
.icon_wrap > a > i {
  color : #fff;
  font-size : 24px;
}

/* 검색폼 서식 */
#search_form{
  width:100%;
  height:200px;
  background: #000;
  padding:50px 0px;
  overflow:hidden;
  position: fixed;
  top: 100px;
  z-index: 1;
}
.fa-magnifying-glass {
  font-size:24px;
  color:#fff;
  cursor:pointer;
}
#search_form .s_wrap{
  max-width:1200px;
  margin:0px auto;
  width:100%;
  text-align: center;
  display:flex;
  justify-content: center;
  align-items: center;
}
#search_form .s_wrap .s_form{
  max-width:600px;
  width:50%;
  height:40px;
  background: none;
  border:none;
  border-bottom:3px solid #fff;
  color:#fff;
  margin:0px;
}
#search_form .s_word{
  max-width:1200px;
  margin:0px auto;
  width:100%;
  padding:50px 0px 24px 0px;
  display:flex;
  justify-content:space-around;
}
#search_form .s_word h2{
  color:#fff;
  font-size:16px;
  margin:0px;
}
#search_form .s_wrod h2:first-child{
  position:relative;
}
#search_form .key_box{
  width:500px;
  margin:0 auto;
  max-height:150px;
  overflow:hidden;
  text-align: left;
}
#search_form .key_box a{
  display:inline-block;
  padding:6px 10px;
  border-radius:20px;
  border: 1px solid #949494;
  color:#fff;
  letter-spacing:-0.45px;
  margin-right:24px;
  margin-bottom:24px;
}

#search_form{
  display:none;
}
#p_search:checked ~ #search_form{
  display:block;
}
#p_search:checked ~ #pc_header{
  background-color: #000;
}

input, textarea, button {
  appearance: none; 
  border-radius: 0;
  -moz-appearance: none; 
  -webkit-appearance: none; 
  -webkit-border-radius: 0; 
  -moz-border-radius: 0;
}

input[type=radio], input[type=checkbox]{
appearance: auto;
}

/* 푸터 영역 서식 */
footer{
  background:#000;
  margin-top:160px;
  color:#fff;
  width: 100%;
}

footer a {
  text-decoration: none;
  color: #fff;
}
.ethical{
  width:100%;
  background:#f2f2f2;
  text-align: center;
  padding:15px 0px;
  display:flex;
  justify-content: center;
}

.ethical > ul {
  width:1260px;
  margin:0px auto;
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.ethical > ul > li img{width:136px;}


.t_btn{
  background:#222 url(../images/common/ico_footer_top.svg) no-repeat center center;
  background-repeat:no-repeat;
  width:56px;height:56px;
  box-shadow:0px 4px 4px rgba(0,0,0,.3);
  position:fixed;
  right:10px;
  bottom:50px;
  font-size:0px;
  text-indent: -9999px;
  border-radius:50%;
  display:none;
  color: #fff;
}


.f_wrap{
  padding:50px 10px;
  display:grid;
  grid-template-areas:
  "subscribe sns"
  "lnb lnb"
  "infol infor";
  max-width: 1260px;
  margin: 0px auto;
  width: 100%;
}

.subscribe{
  grid-area: subscribe;
  height: 90px;
  position: relative;
  width: 100%;
  max-width: 630px;
}

.subscribe p {
  font-size: 14px;
  line-height: 17px;
}

.corp_gift {
  margin-left: 100px;
}

.cs_service, .corp_gift {
  float: left;
  font-size: 15px;
}


dt {
  font-weight: bold;
}

.cs_service::after, .corp_gift::after {
  clear: both;
}

.f_info_l{
  grid-area: infol;
}


.f_lnb{
  margin: 25px 0px;
  grid-area: lnb;
}


.f_info_r{
  grid-area: infor;
  height: 70px;
}



.f_lnb > ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.email_flex {
  display: flex;
}

#sub_email {
  width: 100%;
  max-width: 392px;
  height: 30px;
  margin-bottom: 10px;
  background-color: #333;
  border: none;
  color: #fff;
  outline: none;
  padding: 0px;
}

.subs_btn {
  color: #fff;
  background-color: #333;
  width: 100%;
  max-width: 40px;  
  font-size: 14px;
  height: 30px;
  border: none;
  text-indent: 0px;
  /* vertical-align: none; */
  padding:0px 5px;
}

address {
  font-style: normal;
  line-height: 20px;
  padding: 0px 0px 20px 30px;
  font-size: 15px;
  position: relative;
  left: 40px;
}

.sns{
  grid-area: sns;
  width: 630px;
  width: 100%;
  text-align: center;
  height: 90px;
}

.sns ul li {
  margin: 0px 20px;
}

.sns ul li:first-child img {
  width: 40px;
  height: 40px;
}

/* 푸터 태블릿 서식*/
@media screen and (max-width:1024px) {
  header::before{
  padding-top:0px;
}
#p_search:checked ~ #search_form{
  display:none;
}
  .ethical {
    display: none;
  }
  #pc_header {display: none;}

  .footbar {
      display: none;
  }

  .br {
      display: block;
  }

  .f_lnb > ul {
      font-size: 1em;
  }
}

@media screen and (max-width:875px) {
  .cs_service, .corp_gift, address {
      font-size: 0.9em;
  }

  .subscribe p {
      font-size: 0.75em;
  }

  address {
      left:10px;
  }

  #sub_email {
      width: 80%;
  }
  .corp_gift {
      margin-left: 15%;
  }

  .sns {
      padding-left: 10px;
  }
  
  .subs_btn {
    font-size: 0.9em;
  }
}

@media screen and (max-width:875px) {
  .cs_service, .corp_gift, address {
      font-size: 0.85em;
  }
}

@media screen and (max-width:850px){
  .sub, .subscribe p  {
      width: 82%;
  }
  
  .subscribe p {
      white-space: nowrap;
  }
}

/* 모바일 */
@media screen and (max-width:767px) {

  .f_wrap {
      display: block;
      padding: 50px 10px 0px 10px;
      width: 100%;
  }
  
  #sub_email::placeholder {
    font-size: 1em;
  }

  .subscribe p {
      font-size: 0.9em;
  }

  .sns {
      padding-top: 15px;
      height: 50px;
  }

  address {
      left: 0px;
      font-size: 0.9em;
  }
  
  .cs_service, .corp_gift {
      float: none;
      font-size: 1em;
      padding: 1% 0px 8% 0px;
}

  .f_lnb > ul {
      justify-content: center;
      flex-wrap: wrap;
      width: 100%;
      margin: 0px;
  }

  .f_lnb > ul li {
      padding: 8px 20px;
  }

  .corp_gift {
      margin-left: 24%;
  }

  .f_lnfo_l {
      display: flex;
      height: auto;
      
      
  }

  address {
      padding-left: 0px;
      font-size: 0.9em;
  }

  .corp_gift {
      margin-left: 22%;
  }

  .footbar, .br {
    display: inline-block;
  }
  .subs_btn {
    font-size: 0.9em;
  }
}

@media screen and (max-width:480px) {
.corp_gift {
  margin-left: 17%;
}

.subscribe p {
font-size: 0.85em;
}

.cs_service, .corp_gift {
font-size: 0.9em;
}

.footbar {
display: none;
}

.br {
display: block;
}

address {
font-size: 0.85em;
}

}
@media screen and (max-width:435px) {
.corp_gift {
  margin-left: 17%;
}

.subscribe p {
font-size: 0.8em;
}
}

@media screen and (max-width:405px) {
.corp_gift {
  margin-left: 20%;
}

.subs_br {
display: block;
}

.subscribe p {
line-height: 1em;
}

.cs_service, .corp_gift {
font-size: 0.8em;
}

.sns {
padding: 10% 0%;
}

@media screen and (max-width:380px) {

.f_lnb ul {
  font-size: 0.9em;
}

.subscribe p {
  font-size: 0.75em;
}
.corp_gift {
  margin-left: 15%;
}
}

@media screen and (max-width:340px) {
.f_lnb ul li {
  padding: 7px;
}
.corp_gift {
  margin-left: 8%;
}
}

}

/* gnb 태블릿 이하 서식 */

#m_menu,.m_gnb, #m_product, #m_magazine , #m_intro{display: none;}
/* 미디어 스크린 모바일 */
@media screen and (max-width:1024px) {
  #pc_header {display: none;}
  #m_header {
    width: 100%; height: 64px;
    padding: 0 15px;
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    background-color: #000;
  }
  #m_header > .m_menu_wrap {
    width: 24px; height: 20px;
    position: relative;
    z-index: 501;
  }
  #m_header > .m_menu_wrap > span {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #fff;
    transition: .3s;
  }
  #m_header > .m_menu_wrap > span:nth-of-type(1) {top: 0;}
  #m_header > .m_menu_wrap > span:nth-of-type(2) {top: 8.5px;}
  #m_header > .m_menu_wrap > span:nth-of-type(3) {bottom: 0;}
  
  #m_menu:checked ~ #m_header .m_menu_wrap > span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 8.5px;
  }    
  #m_menu:checked ~ #m_header .m_menu_wrap > span:nth-of-type(2) {
    opacity: 0;
  }
  #m_menu:checked ~ #m_header .m_menu_wrap > span:nth-of-type(3) {
    transform: rotate(-45deg);
    bottom: 8.5px;
  }
  
  #m_header > #m_logo {
    width: 140px;
    justify-self: center;
  }
  #m_header > #m_logo > a {}
  #m_header > #m_logo > a > img {width: 100%;}
  #m_header > .m_icons {
    font-size: 24px;
    display: flex;
    justify-content: right;
    gap: 20px;
  }
  #m_header > .m_icons > a {
    display: block;
    color:#fff;
  }
  
  /* 펼쳐지는 m_gnb 서식 */

  #m_search_items {
    display: none;
  }

  .search_box label::after {
    content: '\f002';
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
  }

  #m_menu:checked ~ .m_gnb{
    left: 0;
    -webkit-overflow-scrolling: auto;
  }
  #m_menu:checked ~ .m_header .m_menu_wrap {justify-content: right;}
  /* #m_menu:checked ~ #m_header{display:none;} */
  .m_gnb{
    display: block;
    width:100%;
    height: var(--vh, 100vh);
    overflow: auto;
    background:rgba(0, 0, 0, 0.7);
    position:absolute;
    top: 0;
    left: -100vw;
    z-index: 500;
    transition: .3s;
  }
  .m_gnb a{
    color: #fff;
  }
  .m_gnb li {
    text-align: left;
  }
  .gnb_logo{
    padding-top:24px;
    padding-left:24px;
  }
  .gnb_logo img{
    width:140px;height:36px;
  }
  .search_box{
    width:100%;
    margin:0px auto;
    text-align: center;
    padding:50px 0px;
  }
  #m_search{
    width:50%;
    background:none;
    border:none;
    border-bottom:3px solid #fff;
    color:#fff;
    font-size:1rem;

  }
  #m_search:focus{
    outline: none;
  }
  .fa-magnifying-glass{
    font-size:20px;
    color:#fff;
    cursor:pointer;
  }
  .m_category{
    padding-left:50px;
  }
  .m_category > li {
    font-size:20px;
    font-weight:bold;
    line-height:50px;
  }
  .m_category > li label{
    font-size:20px;
    font-weight:bold;
    display:block;
    color:#fff;
  }
  .m_des > li {
    text-indent:20px;
    line-height:50px;
  }
  .m_des > li > a{
    font-size:16px;
  }
  .m_subc{
    padding:50px 0px 100px 50px;
  }
  .m_subc > li > a{
    font-size:20px;
    font-weight:bold;
    display:block;
  }
  .m_subc > li{
    line-height: 50px;
  }

  .m_guide{
    padding:100px 0px 50px 0px;
  }
  .m_guide > p{
    text-align: center;
    margin:0px auto;
  }
  .m_guide > p span{
    color:#f2f2f2;
    font-size:12px;
  }
  .p_hide{
    overflow: hidden;
    height: 0;
    transition: 0.5s;
  }
  #m_product:checked ~.m_gnb .m_category .p_hide {
    height: 468px;
  }
  .m_hide{
    overflow: hidden;
    height: 0;
    transition: 0.5s;
  }
  #m_magazine:checked ~.m_gnb .m_category .m_hide {
    height: 156px;
  }
  .i_hide{
    overflow: hidden;
    height: 0;
    transition: 0.5s;
  }
  #m_intro:checked ~.m_gnb .m_category .i_hide {
    height: 104px;
  }

  .m_category > li:first-child label{
    position:relative;
  }
  .m_category > li:nth-child(3) label{
    position: relative;
  }
  .m_category > li:nth-child(3) label{
    position:relative;
  }
  #m_product:checked ~ .m_gnb .m_category > li:first-child label::after{
    transform:rotate(180deg);
  }
  .m_category > li:first-child label::after{
    content:'\f107';
    font-family:'Font Awesome 5 Free';
    position:absolute;
    right:50px;
    cursor:pointer;
  }
  #m_magazine:checked ~ .m_gnb .m_category > li:nth-child(3) label::after{
    transform:rotate(180deg);
  }
  .m_category > li:nth-child(3) label::after{
    content:'\f107';
    font-family:'Font Awesome 5 Free';
    position:absolute;
    right:50px;
    cursor:pointer;
  }
  #m_intro:checked ~ .m_gnb .m_category > li:nth-child(4) label::after{
    transform:rotate(180deg);
  }
  .m_category > li:nth-child(4) label::after{
    content:'\f107';
    font-family:'Font Awesome 5 Free';
    position:absolute;
    right:50px;
    cursor:pointer;
  }

  .m_subc li:first-child a::after{
    content:'\f118';
    font-family:'Font Awesome 5 Free';
    position:absolute;
    right:50px;
    cursor:pointer;
    color:#fff;
    font-size:25px;
  }
  .m_subc li:nth-child(2) a::after{
    content:'\f290';
    font-family:'Font Awesome 5 Free';
    position:absolute;
    right:50px;
    cursor:pointer;
    color:#fff;
    font-size:25px;
    font-weight:bold;
  }
  .m_subc li:last-child a::after{
    content:'\f075';
    font-family:'Font Awesome 5 Free';
    position:absolute;
    right:50px;
    cursor:pointer;
    color:#fff;
    font-size:25px;
  }
}


@media screen and (max-width:475px) {
  #m_header > #m_logo {
    width: 100px;
  }
  
}


@media screen and (max-width:375px) {
  #m_header > #m_logo {
    width: 90px;
  }
}