@charset "utf-8";





/* 메인 공통 서식 시작 */

#main_video_box div {
  width : 100%;
  max-width : 800px;
  position : absolute;
  left : 50%;
  top : 50%;
  transform : translate(-50%, -50%);
  font-size : 3rem;
  text-align : center;
}

#main_video_box div p {
  margin-bottom : 20px;
  color : #fff;
  font-family: 'LushKR Handwritten OTF';
}

  /* 비디오 섹션 스크롤 안내 */
  .scrolltxt {
    color : #fff;
    position : absolute;
    left : 50%;
    transform : translateX(-50%);
    bottom : 30px;
    font-size : 1rem;
    border-radius : 50%;
    border : 2px solid #fff;
    width : 80px;
    height : 80px;
    line-height : 40px;
    text-align : center;
  }
  .scrolltxt i {
    display : block;
    font-size : 1.4rem;
    color : #fff;
    line-height : 40px;
  }


#pc_header {
  position: fixed;
  background-color: transparent;
}
header::before{
  padding-top:0px;
}

#pc_header:hover {
  background-color: #000;
}


#main_video_box {
  width: 100%;
  /* height : 100vh; */
  /* 100vh IOS 넘침현상 수정 */
  height: var(--vh, 100vh);
  background-color : #ccc;
  position: relative;
  overflow: hidden;
  z-index: -1;
}






/* WE BELIEVE LUSH 서식 */
.b_wrap{
  width:100%;height:950px;
  background:url(../images/main/webelievelush.jpg)no-repeat center;
  background-size: cover;
}
.believe{
  background-color: rgba(0, 0, 0, 0.5);
  width:100%;height:950px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}
.b_sub, .b_title, .b_btn{
  font-family:'Lush';
  color:#fff;
  padding:20px 0px;
  text-align: center;
}
.b_sub{
  font-size:36px;
}
.b_title{
  font-size:94px;
}
.b_btn{
  padding:0px;
  margin-top:300px;
  font-size:16px;
  border:2px solid #fff;
  display:flex;
  justify-content:center;
  align-items: center;
}
.b_btn > a{
  display:block;
  padding:20px;
  color: #fff;
}





/* 캠페인 영역 서식 */
.charity{
  max-width:1260px;
  width:100%;
  padding-top:100px;
  margin:0px auto;
  display:flex;
  justify-content: center;
  align-items: center;
}
.c_left{
  width:100%;
  margin:0px auto;
  display:flex;
  justify-content: center;
  align-items: center;
  padding:0px 10px 0px 0px;
}
.c_left a img{
  width:500px;height:500px;
}
.c_right{
  width:100%;
  margin:0px auto;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  padding:0px 10px 0px 0px;
}

.c_right h3{
  font-size:24px;
  padding-bottom:24px;
  line-height: 36px;
  text-align: center;
}
.c_right p{
  font-size:1rem;
  line-height:32px;
  padding:10px 0px;
  text-align: center;
}
.social_icons{
  margin:0px auto;
}
.c_zoom{
  border:2px solid #949494;
  margin:20px auto;
}
.c_zoom > a{
  display:block;
  color:#222;
  padding:10px 40px;
}
.social_icons a img{
  width:40px;height:40px;
  margin:10px 10px;
}








/*  메인 공통 서식 끝   */









/* PC 미디어 쿼리 시작 */
@media screen and (min-width:1025px){

  .main--pro_box img {
    width : 300px;
  }

  /* 메인 상품 strong 태그 서식 */
  .main--pro_box strong{
    font-size : 22px;
    margin-bottom : 12px;
    display : inline-block;
  }

  .main--pro_box li p {

  }

  /* main vid 영역 텍스트 박스 */
  #main_video_box div {
    width : 100%;
    max-width : 800px;
    position : absolute;
    left : 50%;
    top : 50%;
    transform : translate(-50%, -50%);
    font-size : 3rem;
    text-align : center;
  }
  
  #main_video_box div p {
    margin-bottom : 20px;
    color : #fff;
    font-family: 'LushKR Handwritten OTF';
  }

  /* 스크롤 안내 */
  .scrolltxt {
    color : #fff;
  }


  .main--pro_box {
    width : 100%;

  }

  
/* NEW 영역 시작 */



/* 상품 중 new article */
.sec2--newpro_wrap {
  width : 100%;
  height : 950px;
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ),url('../images/main_new_bg.jpg');
  background-repeat : no-repeat;
  background-position : center;
  position : relative;
  overflow: hidden;
  padding-top : 300px;
  


  /* display: flex;
  justify-content : space-between;
  padding-bottom : 200px;
  align-items : flex-end; */
}


/* new 전체를 감싸는 박스 */
.arti1--new_box1{
  width : 100%;
  display: flex;
  justify-content : space-between;
  padding-bottom : 200px;
  align-items : flex-end;
}

/* new 텍스트 박스 */
.new_box1--newtxt {
  height: 120px;
  position: relative;
  bottom: 55px;
  left: 50px;
  width : 320px;
}


/* new 텍스트 박스의 h2와 p absolute */
.new_box1--newtxt h2,
.new_box1--newtxt p {
  position : absolute;
}

/* new 텍스트 박스의 a */
.new_box1--newtxt a{
  display : block;
  line-height : 40px;
  color : #fff;
}

/* new 텍스트 박스의 h2 */
.new_box1--newtxt h2 {
  left : 0;
  top : 0;
  font-size : 50px;
  width : 320px;
  color:#fff;
  display: inline-block;
}

/* new 텍스트 박스의 p */
.new_box1--newtxt p {
  width : 170px;
  height : 40px;
  border : 1px solid #fff;
  font-size : 16px;
  text-align : center;
  left : 0;
  bottom : 0;
}

/* new 슬라이드를 감싸는 박스 우측 absolute */
.new_box1--ul_wrap {
  background-color : rgba(242, 242, 242, .6);
  /* position : absolute;
  left : 500px;
  bottom : 200px; */
  overflow : hidden;
  width : 60vw;
  padding-bottom : 50px;
  align-items : center;
}

/* new 슬라이드 ul */
.ul_wrap--newpro1 {
  display : flex;
  /* width : 2500px; */
}

/* new 슬라이드 li들 */
.newpro_1{
  position : relative;
  width : 300px;
  height : 400px;
  padding-right : 50px;
  box-sizing: content-box;
}
.newpro_1:first-child {
  margin-left : 50px;
}

/* new 슬라이드 li 내부 a 패딩 */
.newpro_1 a::after {
  content : "";
  display : block;
  padding-bottom : 100px;
}

/* new ul 슬라이드 이미지들 */
.newpro_1 img {
  /* width : 100%;
  position : absolute;
  top : 0;
  left : 0; */

  position : relative;
}

/* new 슬라이드 텍스트 박스 */
.newpro_1 div {
  width : calc(100% - 50px);
  height : 40%;
  position : absolute;
  left : 0;
  bottom : 0;
  padding : 50px;
  background-color : #eee;
  z-index : -1;
}

/* new 슬라이드 텍스트 중 h3 */
.newpro_1 div h3 {
  font-size: 22px;
  line-height: 32px;
  padding-bottom:10px;
}

/* new 슬라이드 텍스트 중 p */
.newpro_1 div p:first-of-type {
  font-size: 18px;
  line-height: 24px;
}
.newpro_1 div p:last-of-type {
  font-size: 16px;
  line-height: 24px;
}


/* 모바일 NEW 상품 배열 4개 */
.new_box1--newpro2 {
  display : none;
}


/* new 영역 끝 */


/* ------------------------------------------------------- */


/* BEST 영역 시작 */

/* BEST 감싸는 article */
.sec2--bestpro_wrap {
  width : 100%;
  max-width: 1260px;
  height : 950px;
  position : relative;
  margin: 0 auto;
  padding : 50px 15px;
  display : flex;
  justify-content : space-between;
}



/* BEST 텍스트 박스 */
.art2--besttxt{
  position : absolute;
  top : 100px;
  left : 0;
}

.art2--besttxt h2,
.art2--besttxt p {}

/* BEST 텍스트박스 h2 */
.art2--besttxt h2{
  font-size : 50px;
  padding-bottom : 25px;
  font-weight : bold;
}

/* BEST 텍스트박스 p */
.art2--besttxt p{
  font-size : 16px;
  color : #949494;

}

/* BEST 상품 상자들 */
.bestpro1 {
  position : relative;
}

/* BEST 상품 상자들 중 img와 div absolute */
.bestpro1 img,
.bestpro1 div{
  position : absolute;
}

/* BEST 상품 상자들 중 img */
.bestpro1 img {
  top : 0;
  left : 50%;
  transform : translateX(-50%);

}

/* BEST 상품 상자들 중 div 테두리상자 */
.bestpro1 div {
  width : 100%;
  height : 200px;
  z-index : -1;
  border : 1px solid #333;
  left : 0;
  bottom : 0;
  padding : 90px 25px 25px 25px;
}


/* BEST 왼쪽 큰 이미지 박스 */

.best_big {
  margin-top : 200px;
  width : 500px;
  height : 500px;
  overflow : hidden;
}

/* BEST 왼쪽 큰 이미지 박스 이미지 */
.best_big img {
  width : 500px;
  height : 500px;
}


/* BEST 우측 ul */
.art2--bestprowrap{
  margin-top : 200px;
  display : flex;
  flex-wrap : wrap;
  width : 520px;
  min-width : 520px;
  height : 500px;
  justify-content: space-around;
  align-content : space-around;
}


/* BEST li들 */
.best_small {
  width : 210px;
  height : 250px;
  position : relative;
  overflow : hidden;
}
.best_small > a::after{
  content: '';
  display: block;
  padding-bottom: calc(100% + 40px);
}

.best_small img {
  width : 160px;
  position : absolute;
  left : 50%;
  top : -10%;
  transform : translateX(-50%);
}

/* BEST li의 h3  */
.best_small h3 {
  font-size: 22px;
  line-height: 32px;
  padding-bottom:10px;
  display:block;
}

/* BEST li의 p들 */
.best_small p:first-of-type {
  font-size: 18px;
  line-height: 24px;
}
.best_small p:last-of-type {
  font-size: 16px;
  line-height: 24px;
}

/* BEST 영역 끝 */




/* WE BELIEVE LUSH 서식 */
.b_wrap{
  width:100%;height:950px;
  background:url(../images/main/webelievelush.jpg)no-repeat center;
  background-size: cover;
}
.believe{
  width:100%;height:950px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}
.b_sub, .b_title, .b_btn{
  font-family:'Lush';
  color:#fff;
  padding:20px 0px;
}
.b_sub{
  font-size:36px;
}
.b_title{
  font-size:94px;
}
.b_btn{
  padding:0px;
  margin-top:300px;
  font-size:16px;
  border:2px solid #fff;
  display:flex;
  justify-content:center;
  align-items: center;
}
.b_btn > a{
  display:block;
  padding:20px;
  color: #fff;
}


} /* PC 미디어 쿼리 끝 */












/* -------------------------------------------------------------------------- */






/* 미디어 스크린 */

/* 태블릿 */
@media screen and (max-width:1024px) and (min-width:767px){

  .main--pro_box img {
    width : 300px;
  }

  /* 상품 영역 strong 태그 서식 : li 제품 제목 */
  .main--pro_box strong{
    font-size : 22px;
    margin-bottom : 12px;
    display : inline-block;
  }

/* tablet product section(2) 시작 {new, best} */

/* production section */
.main--pro_box {
  width : 100%;
}




/* tablet NEW 영역 시작 */




/* 상품 중 new article */
.sec2--newpro_wrap {
  width : 100%;
  height : 950px;

  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ),url('../images/main_new_bg.jpg');
  background-repeat : no-repeat;
  background-position : center;
  position : relative;
  overflow: hidden;
  padding-top : 300px;


  /* display: flex;
  justify-content : space-between;
  padding-bottom : 200px;
  align-items : flex-end; */
}


/* new 전체를 감싸는 박스 */
.arti1--new_box1{
  width : 100%;
  display: flex;
  justify-content : space-between;
  padding-bottom : 200px;
  align-items : flex-end;

}

/* new 텍스트 박스 */
.new_box1--newtxt {
  height: 120px;
  position: relative;
  bottom: 80px;
  left: 15px;
}


/* new 텍스트 박스의 h3와 p absolute */
.new_box1--newtxt h2,
.new_box1--newtxt p {
}

/* new 텍스트 박스의 a */
.new_box1--newtxt a{
  display : block;
  line-height : 40px;
  color : #fff;
}

/* new 텍스트 박스의 h2 */
.new_box1--newtxt h2 {
  margin-bottom : 40px;
  font-size : 50px;
  color:#fff;
  display: inline-block;
  margin-right : 30px;
}

.new_box1--newtxt h2 a {
  line-height : 60px;
}

/* new 텍스트 박스의 p */
.new_box1--newtxt p {
  width : 170px;
  height : 40px;
  border : 1px solid #fff;
  font-size : 16px;
  text-align : center;

}

/* new 슬라이드를 감싸는 박스 우측 absolute */
.new_box1--ul_wrap {
  background-color : rgba(242, 242, 242, .6);
  /* position : absolute;
  left : 500px;
  bottom : 200px; */
  overflow : hidden;
  width : 60vw;
  padding-bottom : 50px;
  align-items : center;
}

/* new 슬라이드 ul */
.ul_wrap--newpro1 {
  display : flex;
  /* width : 2500px; */
}

/* new 슬라이드 li들 */
.newpro_1{
  position : relative;
  width : 300px;
  height : 400px;
  padding-right : 50px;
  box-sizing: content-box;
}
.newpro_1:first-child {
  margin-left : 50px;
}

/* new 슬라이드 li 내부 a 패딩 */
.newpro_1 a::after {
  content : "";
  display : block;
  padding-bottom : 100px;
}

/* new ul 슬라이드 이미지들 */
.newpro_1 img {
  /* width : 100%;
  position : absolute;
  top : 0;
  left : 0; */

  position : relative;
}

/* new 슬라이드 텍스트 박스 */
.newpro_1 div {
  width : calc(100% - 50px);
  height : 40%;
  position : absolute;
  left : 0;
  bottom : 0;
  padding : 50px;
  background-color : #eee;
  z-index : -1;
}


/* new 슬라이드 텍스트 중 h3 */
.newpro_1 div h3 {
  font-size: 22px;
  line-height: 32px;
  padding-bottom:10px;
}

/* new 슬라이드 텍스트 중 p */
.newpro_1 div p:first-of-type {
  font-size: 18px;
  line-height: 24px;
}
.newpro_1 div p:last-of-type {
  font-size: 16px;
  line-height: 24px;
}


/* 모바일 NEW 상품 배열 4개 */
.new_box1--newpro2 {
  display : none;
}





/* tablet NEW 영역 끝 */

/* tablet BEST 영역 시작 */

/* BEST product article */
.sec2--bestpro_wrap {
  padding : 50px 15px;
}

/* BEST 텍스트 박스 */
.art2--besttxt {

}

/* BEST 텍스트 박스 h2 */
.art2--besttxt h2 {
  font-size : 50px;
  margin-bottom : 15px;
}

/* BEST 텍스트 박스 p */
.art2--besttxt p {
  font-size : 16px;
  color : #949494;
}

/* BEST 큰 사진 박스 display : none; */
.best_big {
  display : none;
}

/* BEST 영역 상품 ul */
.art2--bestprowrap {
  width : 90%;
  display : flex;
  flex-wrap : wrap;
  justify-content : space-between;
  margin : 15% auto;
}

/* BEST li들 */
.best_small {
  border: 1px solid #333;
  width: 48%;
  position: relative;
  margin : 10% 0;
}

.best_small::after {
  content : "";
  display : block;
  padding-bottom : 80%;
}

.best_small img {
  width : 80%;
  position : absolute;
  top : -40%;
  left : 50%;
  transform : translateX(-50%);
}

.best_small div {
  position : absolute;
  width : 100%;
  left: 30px;
  bottom : 30px;
  overflow : hidden;
}

.best_small div h3 {
  font-size : 22px ;
  margin-bottom : 15px;
  font-weight : bold;
  width : calc(100% - 30px);
}


.best_small div p {
  font-size : 1rem;
  margin-top : 10px;
  width : calc(100% - 30px);
  
}

.best_small div a {
  display : block;
}



  /* WE BELIEVE LUSH 서식 */
  .b_title{
    font-size:64px;
  }
  .b_sub{
    font-size:24px;
  }
      /* 캠페인 영역 서식 */
      .charity{
        flex-direction:column;
      }
      .c_right h3{
        padding-top:50px;
      }
      .c_right{
        padding:0px;
      }
      .c_left{
        padding:10px;
      }

}











/* 모바일 */
@media screen and (max-width:766px) and (min-width:1px) {


  
  .sec2--newpro_wrap {
    background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ),url('../images/main_new_bg.jpg');
    background-repeat : no-repeat;
    background-position : center;
    max-height : 950px;
    padding : 50px 15px;
  }

  .new_box1--newtxt {
  }

  .new_box1--newtxt h2 {
    margin-bottom : 15px;
    color : #fff;
  }

  .new_box1--newtxt h2 a {
    font-size : 1.5rem;
  }

  .new_box1--newtxt p {
    border : 1px solid #fff;
    width : 32%;
    min-width : 120px;
    text-align : center;
    height : 40px;
  }

  .new_box1--newtxt a {
    display : block;
    font-size : .8rem;
    line-height : 40px;
    color : #fff;
  }

  .new_box1--ul_wrap {
    display : none;
  }

  .new_box1--newpro2 {
    display : flex;
    flex-wrap : wrap;
    width : 95%;
    margin : 15% auto;
    justify-content : space-between;
    max-width : 600px;
  }

  /* li들 */
  .newpro_2 {
    width : 48%;
    background-color : #fff;
    position : relative;
    margin : 10% 0px;
  }

  .newpro_2::after {
    content : "";
    display : block;
    padding-bottom : 80%;
  }


  .newpro_2 img {
    width : 65%;
    position : absolute;
    top : -40%;
    left : 50%;
    transform : translateX(-50%);

  }

  .newpro_2 div {
    position : absolute;
    width : 100%;
    left: 8%;
    bottom : 8%;
    overflow : hidden;
  }

  .newpro_2 div h3 {
    font-size : 1rem ;
    margin-bottom : 10px;
    font-weight : bold;
    width : calc(100% - 30px);
  }

  .newpro_2 div p {
    font-size : .8rem;
    margin-top : 8px;
    width : calc(100% - 30px);
  }

  .newpro_2 div a{
    display : block;
  }






  /* 모바일 best 서식 시작 */

/* BEST product article */
.sec2--bestpro_wrap {
  padding : 50px 15px;
}

/* BEST 텍스트 박스 */
.art2--besttxt {

}

/* BEST 텍스트 박스 h2 */
.art2--besttxt h2 {
  font-size : 1.5rem;
  margin-bottom : 10px;
}

/* BEST 텍스트 박스 p */
.art2--besttxt p {
  font-size : .8rem;
  color : #949494;
}



/* BEST 큰 사진 박스 display : none; */
.best_big {
  display : none;
}

/* BEST 영역 상품 ul */
.art2--bestprowrap {
  width : 95%;
  display : flex;
  flex-wrap : wrap;
  justify-content : space-between;
  margin : 15% auto;
  max-width : 600px;
}

/* BEST li들 */
.best_small {
  border: 1px solid #333;
  width: 48%;
  position: relative;
  margin : 10% 0;
}

.best_small::after {
  content : "";
  display : block;
  padding-bottom : 80%;
}

.best_small img {
  width : 65%;
  position : absolute;
  top : -40%;
  left : 50%;
  transform : translateX(-50%);
}

.best_small div {
  position : absolute;
  width : 100%;
  left: 8%;
  bottom : 8%;
  overflow : hidden;
}

.best_small div h3 {
  font-size : 1rem ;
  margin-bottom : 10px;
  font-weight : bold;
  width : calc(100% - 30px);
}


.best_small div p {
  font-size : .8rem;
  margin-top : 8px;
  width : calc(100% - 30px);
  
}

.best_small div a {
  display : block;
}
/* ----------------------------------- */








/* ----------------------------------- */







  /* WE BELIEVE LUSH 서식 */
  .b_title{
    font-size:64px;
  }
  .b_sub{
    font-size:24px;
  }


  @media screen and (max-width : 500px ){
    .b_sub {
      font-size : 6vw;
    }
    .b_title {
      font-size : 10vw;
    }

    #main_video_box div p {
      font-size : 10vw;
    }
  }

      /* 캠페인 영역 서식 */
      .charity{
        flex-direction:column;
      }
      .c_right{
        padding:10px;
      }
      .c_left{
        padding:10px;
      }
      .c_right h3{
        padding-top:50px;
      }


      br:not(br.appear){display:none;}

      .c_left a img{
        width:250px;height:250px;
      }
}