@charset "utf-8";

main {
    width:100%;
}

h2 {
    text-align: center;
    margin-bottom: 128px;
    font-size: 32px;
}

article {
    width: 1260px;
    margin: 0px auto;
}

form {
    text-align: center;
}

input {
    width: 345px;
    height: 40px;
    margin-bottom: 15px;
    border: 1px solid #949494;
    color: #949494;
    text-indent:10px;
    font-size: 14px;
}

input::placeholder {
    color: #949494;
}

input[name="email"] {
    width: 155px;
}

.input_block {
    display: block;
    margin: 0px auto;
    margin-bottom: 15px;
}

#tell{
    display:flex;
    justify-content: center;
    align-items:center;
    margin-bottom:15px;
}
select { 
    height: 40px;
    width: 90px;
    text-align: center;
    color: #949494;
}

.tel_num2 {
    width: 255px;
    margin:0px;
}

.check_box {
    width: 20px;
    height: 20px;   
    border-radius: 7px;
    margin-bottom: 3px;
}

.certification_number {
    width: 195px;
    transform: translateX(-7px);
}

.certification_check {
    width: 130px;
    transform: translateX(7px);
    background-color: #fff;
    text-indent: 0px;
}

.email_at {
    display: inline-block;
    transform: translateY(-7px);
}

.email_id {
    transform: translateX(-5px);
}

.email_add {
    transform: translateX(5px);
}

.sms {
    height: 25px;
    line-height: 25px;
    color: #222;
    display:flex;
    justify-content: center;
    align-items: center;
}

button {
    width: 345px;
    height: 50px;
    color: #fff;
    background-color: #222;
    margin-top: 20px;
    font-size: 20px;
    text-indent: 0px;
}

@media screen and (max-width:1024px) and (min-width:767px){

main {
        width: 100%;
}

article {
    width: 100%;
}


input[name="email"] {
    width: 151px;
}


select { 
    height: 40px;
    width: 92px;
}



.certification_number {
    width: 203px;
}

.certification_check {
    width: 126px;

}

input[name="email"] {
    width: 157px;
}



button {
    width: 345px;
    height: 50px;
    color: #fff;
    background-color: #222;
    margin-top: 20px;
    font-size: 20px;}


}

@media screen and (max-width:766px) and (min-width:1px){

    main {
        width: 100%;
}

h2 {
    font-size: 2em;
}

article {
    width: 100%;
}

input[name="email"] {
    width: 151px;
}

select { 
    height: 40px;
    width: 92px;
}

.certification_number {
    transform: translateX(-7px);
}

.certification_check {
    width: 135px;

}

input[name="email"] {
    width: 157px;
}


}

/* 로그인 폼 */
label{
    font-size:14px;
}
.login_wrap{
    width:100%;
    padding-top:128px;
    text-align: center;
}
.title{
    font-size:32px;
}
.login_tab{
    width:100%;
    margin:0 auto;
    text-align: center;
}
.login_tab > ul{
    width:200px;
    display:flex;
    justify-content:space-around;
    align-items: center;
    margin:50px auto;
}
input[type=radio]{
    display:none;    
}
.login_box{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
input[type=text]{
    background: #fff;
    color: #222;
    line-height: 46px;
    text-indent:10px;
}
#l_password{
    background: #fff;
    color: #222;
    font-size: 14px;
    border: 1px solid #949494;
    line-height: 46px;
    text-indent:10px;
    margin:0px auto;
}
.remember_wrap{
    width:345px;
    margin:0px auto;
    display:flex;
    justify-content: baseline;
    align-items:center;
}
#save_id{
    width: 25px;
    height: 25px;
    margin-top:15px;
}
input[type=submit]{
    width:345px;
    height:50px;
    color:#fff;
    background:#222;
    margin:0px;
}
#log_txt{
    width:345px;
    margin:0px auto;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    padding:50px 0px;
}
#log_txt a{
    color:#222;
    display:block;
    font-size:14px;
}

.sns_login{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
#n_login{
    width:345px;
    height:50px;
    background:#2db400;
    color:#fff;
    font-weight:700;
}
#k_login{
    width:345px;
    height:50px;
    background: #fee500;
    color:#222;
    font-weight:700;
}