@charset "utf-8";

/* width 100% */
main, input, select, .tel_num2, .certification_number, .certification_check, .login_wrap, .login_tab, input[type=checkbox], #modal, .modal_img, .modal_img img {
    width:100%;
}

/* flex */
.flex {
    display: flex;
}

/* text-align : center */
h2, form, #k_login, .forgot, .login_wrap, .login_tab, select, #n_login {
    text-align: center;

}

h2 {
    margin:100px 0px 50px 0px;
    font-size: 32px;
}

article {
    width: 345px;
    margin: 0px auto;
}

input {
    width: 100%;
    max-width: 345px;
    height: 50px;
    margin-bottom: 15px;
    border: 1px solid #949494;
    text-indent:10px;
    font-size: 14px;
}

input::placeholder {
    color: #949494;
}

input[name="email"] {
    max-width: 155px;
}

.input_block {
    display: block;
    margin: 0px auto;
    margin-bottom: 15px;
}

#tell{
    justify-content: center;
    align-items:center;
    margin-bottom:15px;
}
select { 
    height: 50px;
    max-width: 90px;
    color: #222;
}

.tel_num2 {
    max-width: 255px;
    margin:0px;
}

.check_box {
    border-radius: 7px;
    margin-bottom: 3px;
}
input[type=checkbox]{
    max-width: 20px;
    height:20px;
}

.certification_number {
    max-width: 200px;
}

.certification_check {
    max-width: 130px;
    background-color: #fff;
    text-indent: 0px;
}

.tell_box {
    justify-content: space-between;
}

.email_box {
    justify-content: space-between;
    line-height: 50px;

}

.sms {
    max-height: 25px;
    height: 100%;
    line-height: 25px;
    color: #222;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width:1024px) {



input[type="checkbox"] {
    width: 20px;
    height: 20px;   
}

}

@media screen and (max-width:766px) {

h2 {
    font-size: 2em;
}


select { 
    width: 92px;
}

}


/* 로그인 폼 */
label {
    font-size:14px;
}

.title{
    font-size:2rem;
}

.login_tab {
    margin:0px auto;
}

.login_tab > ul{
    width:200px;
    justify-content:space-around;
    align-items: center;
    margin:50px auto;
}

.login_tab > ul > li > label{
    cursor:pointer;
}

input[type=radio]{
    display:none;    
}
.login_box {
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

input[type=text]{
    background: #fff;
    color: #222;
    line-height: 46px;
    text-indent:10px;
}
#l_password{
    background: #fff;
    color: #222;
    font-size: 14px;
    border: 1px solid #949494;
    line-height: 46px;
    text-indent:10px;
    margin:0px auto;
}
.remember_wrap {
    width:345px;
    margin:0px auto;
    justify-content:left;
    align-items:center;
}
#save_id{
    margin-top:15px;
    
}
input[type=submit]{
    color:#fff;
    background:#222;
    margin:0px;
    cursor:pointer;
}
#log_txt{
    margin:0px auto;
    justify-content: space-evenly;
    align-items: center;
    padding:50px 0px;
}

#log_txt a{
    color:#222;
    display:block;
    font-size:14px;
}

.sns_login{
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

#n_login{
    background:#2db400 url(../images/member/naver.png) no-repeat center left 24px;
    letter-spacing: -0.45px;
    color: #fff;
    cursor:pointer;
}

#k_login{
    height:50px;
    background: #fee500 url(../images/member/kakao.png) no-repeat center left 24px;
    color:#222;
    letter-spacing: -0.45px;
    cursor:pointer;
}

.r_tab p {
    margin-top: 10px;
}

#reg:checked ~ article .login_tab .l_tab{display:block;}
article .login_tab > ul >li:first-child{
    position:relative;
}
#reg:checked ~ article .login_tab > ul >li:first-child::after{
    content:'';
    position:absolute;
    width:100%;
    left:0;bottom:-5px;
    border-bottom:2px solid #222;
}
#n_reg:checked ~ article .login_tab .r_tab{display:block;}
article .login_tab > ul >li:last-child{
    position:relative;
}
#n_reg:checked ~ article .login_tab > ul >li:last-child::after{
    content:'';
    position:absolute;
    width:100%;
    left:0px;bottom:-5px;
    border-bottom:2px solid #222;
}


.unknown {
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.forgot{
    color:#949494;
    margin-top:50px;
    font-size:14px;
}

#signUp{
    margin-top:20px;
}

/* 모달 박스 */

#modal {
    position: fixed;
    height: 100%;
    top: 0px;
    z-index: 100;
    background-color: rgba(0,0,0,.9);
}

.modal_img {
    max-width: 600px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
}

.modal_img img {
    display: block;
    position: relative;
    filter: brightness(0.4);
}

.modal_img p:first-of-type{
    position:absolute;
    bottom:50%;left:10%;
    color: #fff;
    font-weight:bold;
    letter-spacing:2px;
}

.modal_img p:last-of-type{
    position:absolute;
    bottom:40%;
    left:10%;
    color: #fff;
    font-weight:bold;
}

.modal_btn {
    display: flex;
}
.modal_img input {
    max-width: 300px;
    display: block;
    background-color: #222;
    color: #fff;
    height: 50px;
    bottom: 0px;
    border:none;
}


.modal_img input:last-child {
    background-color: #fff;
    color: #000;
}

