@charset "utf-8";

.banner{
    width:100%;
    height:456px;
    background-image:url(../images/intro/intro_banner.jpg);
    background-repeat:no-repeat;
    color:#fff;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section{
    width:100%;
    margin:0px auto;
    text-align: center;
    display:flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
}
.section img{width:100%;}
article{
    margin:0px auto;
    text-align: center;
}
.article_1{padding:120px 0px;}
.title{
    font-size:96px;
    font-family:'LushKR Handwritten OTF';
}
.title_sub{
    font-size:32px;
    padding-top:15px;
}
.s_top{
    padding-top:50px;
}
.sub_title{
    font-size:32px;
    margin-bottom:20px;
    line-height:42px;
    letter-spacing:-0.9px;
}
.desc{
    font-size:16px;
    line-height:24px;
    letter-spacing:-0.45px;
    color:#222;
}
.article_2{padding-bottom:120px;}
.article_3{padding-bottom:120px;}
.article_4{padding-bottom:120px;}
.article_5{margin-bottom:28px;}

#intro_btn{
    width:312px;height:64px;
    background:#222;
    color:#fff;
    margin-bottom:50px;
}