@charset "utf-8";

.banner{
    width:100%;
    height:456px;
    background-image:url(../images/intro/intro_banner.jpg);
    background-repeat:no-repeat;
    color:#fff;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section{
    width:1260px;
    margin:0px auto;
    text-align: center;
}
article{
    margin:0px auto;
    text-align: center;
}
.title{
    font-size:96px;
    font-family:'LushKR Handwritten OTF';
}
.title_sub{
    font-size:32px;
    padding-top:15px;
}
.sub_title{
    font-size:32px;
}